#input {
  margin-left: 10px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

#button {
  margin-left: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

#image {
  width: 250px;
  height: 250px;
}

#navbar {
  text-align: center;
}
h5 {
  font-weight: 900;
}

#li {
  font-weight: 900;
  color: red;
}

h6 {
  color: red;
  font-weight: 900;
}
#span{
  margin-left: 50px;
}