<nav id="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
  <span class="navbar-brand mb-0 h1">API-POKEMON-GO</span>
</nav>
<br />
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button
      id="button"
      (click)="search()"
      class="btn btn-primary"
      type="button"
    >
      Buscar
    </button>
  </div>
  <input
    type="text"
    id="input"
    placeholder="Ingrese el pokemon"
    [(ngModel)]="name"
  />
</div>
<br />

<div *ngIf="visibilidad"  class="container">
  <div class="row">
    <div class="col-4">
      <h5 class="h5">Name</h5>
       <h6>{{namePokemon}}</h6>
    </div>

    <div *ngIf="visibilidad"  class="col-4">
      <h5>Image</h5>
      <img id="image" src="{{ urlImage }}" />
    </div>
    <div *ngIf="visibilidad"  class="col-4">
      <h5>Type</h5>
      <ul class="list-group list-group-flush">
        <li id="li" *ngFor="let tipo of types" class="list-group-item">
          {{ tipo.type.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
