#input {
  margin-left: 5px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
}

#button {
  margin-left: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

#image {
  margin-left: 300px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
}

#navbar{
   
    
    text-align: center;
  }
  
